.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #b8b7b7;
    color: rgb(28, 28, 28);
  }
  
  .logo {
    font-size: 20px;
    padding-right:20px;

  }
  
  .search-bar {

    padding: 0.3rem;
    border: none;
    border-radius: 0.3rem;
    width:100%;
 
  }
  
  .options {
    padding-left: 20px;
    display: flex;
   
  }
  
  .option {
    background-color: #b8b7b7;
    color: rgb(28, 28, 28);
    border: none;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
  }